*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resize-none{
    resize: none;
}

#isPublic:checked {
    background-color: black;
    border-color: black;
}

.btn-custom {
    background-color: #444;
    color: #fff;
    border: 2px solid #444;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-custom:hover {
    background-color: #f8f9fa;
    color: #444;
}

.text-brown{
    color: #444;
}

.login-image {
    background-image: url('https://images.pexels.com/photos/1730560/pexels-photo-1730560.jpeg');
    background-size: cover;
    background-position: center;
}

.full-height {
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #f8f9fa;
    padding: 1rem;
}

.mr{
    margin-right: 1.75rem;
}

.submit-btn-padding{
    padding: 0.75rem 0rem;
}

.profile-card {
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 30px;
    background-color: #fff;
}
.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.cursor-pointer{
    cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.table-cell-padding th,
.table-cell-padding td {
  padding: 0.5rem 0.75rem;
}

.blog-description {
    font-size: 1rem;
    line-height: 1.7;
    white-space: pre-wrap;
}

.blog-image {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    border-radius: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.profile-card {
    background: white;
    border-radius: 1.5rem;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
}
.profile-header {
    background: linear-gradient(135deg, #444, #3c3c3c);
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}
.profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 1rem;
}
.profile-body {
    padding: 2rem;
}
.table th {
    width: 30%;
}